/* Modified from highlight.js v11.2.0: github.min.css */

pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

code.hljs {
  padding: 3px 5px;
}

/*!
  Theme: GitHub
  Description: Light theme as seen on github.com
  Author: github.com
  Maintainer: @Hirse
  Updated: 2021-05-15

  Outdated base version: https://github.com/primer/github-syntax-light
  Current colors taken from GitHub's CSS
*/

.hljs {
  color: #24292e;
  background: #fff
}

.hljs-doctag, .hljs-keyword, .hljs-meta .hljs-keyword, .hljs-template-tag, .hljs-template-variable, .hljs-type, .hljs-variable.language_ {
  color: #d73a49
}

.hljs-title, .hljs-title.class_, .hljs-title.class_.inherited__, .hljs-title.function_ {
  color: #6f42c1
}

.hljs-attr, .hljs-attribute, .hljs-literal, .hljs-meta, .hljs-selector-attr, .hljs-selector-class, .hljs-selector-id, .hljs-variable {
  color: rgb(88, 72, 246);
}

.hljs-operator, .hljs-punctuation {
  color: rgb(104, 118, 135);
}

.hljs-number {
  color: rgb(0, 0, 205);
}

.hljs-meta .hljs-string, .hljs-regexp, .hljs-string {
  color: rgb(3, 106, 7);
}

.hljs-built_in, .hljs-symbol {
  color: rgb(0, 0, 255);
}

.hljs-code {
  color: rgb(104, 118, 135);
}

.hljs-comment, .hljs-formula {
  color: rgb(76, 136, 107);
}

.hljs-name, .hljs-quote, .hljs-selector-pseudo, .hljs-selector-tag {
  color: #22863a
}

.hljs-subst {
  color: #24292e
}

.hljs-section {
  color: rgb(0, 0, 255);
}

.hljs-bullet {
  color: #735c0f
}

.hljs-emphasis {
  color: #24292e;
  font-style: italic;
}

.hljs-strong {
  color: #24292e;
  font-weight: 700
}

.hljs-addition {
  color: #22863a;
  background-color: #f0fff4
}

.hljs-deletion {
  color: #b31d28;
  background-color: #ffeef0
}